.container {
    height: 100vh;;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    background-color: red;
}