header {
    padding-bottom: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 255, 0.5);
}
.header-top {
    padding: 10px;
    height: 40px;
    width: 100vw;
    display: flex;
}
.lefth-header {
    width: 90vw;
    display: flex;
    align-items: center;
}
.search-bar {
    width: 50%;
    height: 100%;
    box-shadow: 0px 0px 2px black;
    border-radius: 36px;

    display: flex;  
    align-items: center;
}
.margin-space {
    width: 23px;
}
.search-bar input {
    width: 90%;
    height: calc(100% - 6px);
    outline: none;
    border: 0px none black;
}
.search-logo {
    width: 10%;
    text-align: center;
}
.google-logo {
    height: 40px;
    margin-right: 30px;
}

.right-header, .home-icon, .center-itens {
    height: 100%;
    display: flex;
    align-items: center;
}.right-header a {
    padding: 2px;
}
.icon-size {
    width: 23px;
}
.home-icon {
    height: 35px;
}
.perfil {
    width: 28px;
    border-radius: 44px;
}

.header-bottom {
    padding: 10px;
    padding-left: 50px;
}
.header-bottom a {
    padding: 5px;
    text-decoration: none;
    color: black;
}
.active-item-header {
    font-weight: bold;
    border-bottom: 2px solid black;
}
.results-area {
    padding-top: 30px;
    padding-left: 60px;
}
.results-header {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}
.results-header:visited {
    color: darkblue;
}
.results-header img {
    margin-right: 10px;
}
.results-header-top {
    display: flex;
    flex-direction: row;
}
.website-tittle {
    font-weight: bold;
}
.results-top-right .link {
    font-size: 14px;
}
.results-tittle {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}
.results-content {
    width: 70%;
    margin-bottom: 40px;
}