.container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 6px;
    justify-content: center;
}
.item {
    background-color: blue;
    color: white;
    border-radius: 6px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}
.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.item2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item7{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}