header {
    height: 30px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 14px;
}
header * {
    padding: 5px;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: black;
	text-underline-offset: none;
}
.perfil-image {
    border-radius: 25px;
}