.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;
}
.item {
    background-color: blue;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}