p {
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
a {
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}